{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "b3efb93335a1951199430833078aa5c4d14b090a"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../../work/logseq/deps/graph-parser"}
  logseq/db
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "b3efb93335a1951199430833078aa5c4d14b090a"
   :deps/root "deps/db"}
  logseq/outliner
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "b3efb93335a1951199430833078aa5c4d14b090a"
   :deps/root "deps/outliner"}
  logseq/scripts
  #_{:git/url "https://github.com/logseq/logseq"
   :git/sha "b3efb93335a1951199430833078aa5c4d14b090a"
   :deps/root "scripts"}
  {:local/root "../../work/logseq/scripts"}}}